// COLORS

$primary-color: #278da4;
$secondary-color: red;

// MIXINS

@mixin text {
  color: $primary-color;
  font-weight: 700;
}

.container {
  h1 {
    @include text;
    &:hover {
      color: $secondary-color;
    }
  }
  p {
      @include text;
  }
}
